.popup__error {
    font-family: 'Inter', 'Arial', sans-serif;
    display: block;
    color: #ff0000;
    font-size: 12px;
    line-height: 15px;   
  }

  .popup__error:first-child {
    margin-bottom: 10px;
  }