.popup__form {
  padding: 0px 36px 37px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 520px) {
  .popup__form {
    padding: 0px 22px;
  }
}