.grid__like {
    border: none;
    width: 22px;
    height: 19px;
    padding: 0;
    background: url(../../../images/Group.svg) no-repeat center center;
    display: block;
    cursor: pointer;
    background-size: contain;
}

.grid__like:hover {
    opacity: 0.5;
  }